/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
    font-family: nexa-b;
    src: url(../fonts/Nexa_Free_Bold-webfont.ttf);
}
@font-face {
    font-family: monty-reg;
    src: url(../fonts/Montserrat-Regular.otf);
}
@font-face {
    font-family: monty-light;
    src: url(../fonts/Montserrat-Light.otf);
}
@font-face {
    font-family: varela;
    src: url(../fonts/VarelaRound-Regular.ttf);
}


body{
  font-family:varela,Arial,sans-serif;
  letter-spacing:1px;
}

.header{
  font-family:monty-reg,Arial,sans-serif;
  position:fixed;
  top:0px;
  left:0px;
  z-index:99;
  color:#ffffff;
  background: rgba(43,36,43,1);
  
  background: -moz-linear-gradient(left, rgba(43,36,43,1) 0%, rgba(32,13,68,1) 50%, rgba(39,48,55,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(43,36,43,1)), color-stop(50%, rgba(32,13,68,1)), color-stop(100%, rgba(39,48,55,1)));
  background: -webkit-linear-gradient(left, rgba(43,36,43,1) 0%, rgba(32,13,68,1) 50%, rgba(39,48,55,1) 100%);
  background: -o-linear-gradient(left, rgba(43,36,43,1) 0%, rgba(32,13,68,1) 50%, rgba(39,48,55,1) 100%);
  background: -ms-linear-gradient(left, rgba(43,36,43,1) 0%, rgba(32,13,68,1) 50%, rgba(39,48,55,1) 100%);
  background: linear-gradient(to right, rgba(43,36,43,1) 0%, rgba(32,13,68,1) 50%, rgba(39,48,55,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b242b', endColorstr='#273037', GradientType=1 );
}
.footer{
  color:#ffffff;
  background: rgba(43,36,43,1);
  background: -moz-linear-gradient(left, rgba(43,36,43,1) 0%, rgba(32,13,68,1) 50%, rgba(39,48,55,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(43,36,43,1)), color-stop(50%, rgba(32,13,68,1)), color-stop(100%, rgba(39,48,55,1)));
  background: -webkit-linear-gradient(left, rgba(43,36,43,1) 0%, rgba(32,13,68,1) 50%, rgba(39,48,55,1) 100%);
  background: -o-linear-gradient(left, rgba(43,36,43,1) 0%, rgba(32,13,68,1) 50%, rgba(39,48,55,1) 100%);
  background: -ms-linear-gradient(left, rgba(43,36,43,1) 0%, rgba(32,13,68,1) 50%, rgba(39,48,55,1) 100%);
  background: linear-gradient(to right, rgba(43,36,43,1) 0%, rgba(32,13,68,1) 50%, rgba(39,48,55,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b242b', endColorstr='#273037', GradientType=1 );  
}
.home-logo{
  font-size:2rem;
  padding: 12px;
}
.nav-wrap{
  padding: 0px;
}
#navbar_dsk nav {
  margin: 0;
  overflow: hidden;
}
#navbar_dsk nav ul{
    margin: 0;
    padding: 0;
}
#navbar_dsk nav ul li {
    /* This allow us to arrange list items in a row, without using float */
    display: inline-block;
    list-style-type: none;
}

/* Create a style for the first level items */
#navbar_dsk nav > ul > li > a {
    color:#ffffff;
    display: block;
    line-height: 2em;
    padding: 0.5em 2em;
    text-decoration: none;
}

.nav-padder{
  padding: 12px 1em;
}

#nav-icon1{
  width: 30px;
  height: 28px;
  position:relative;
  float:right;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span{
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #ffffff;
  border-radius: 4px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 10px;
}

#nav-icon1 span:nth-child(3) {
  top: 20px;
}

#nav-icon1.open span:nth-child(1) {
  top: 10px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 10px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
#navbar_tab{
  height:0px;
  width:100%;
  max-height:auto;
  overflow:hidden;
  position: fixed;
  top:68px;
  right:0px;
  z-index:99;
  -webkit-transition: height 0.5s ease-in-out;
  -moz-transition: height 0.5s ease-in-out;
  -o-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
}
#navbar_tab nav{
  width:100%;
  height:auto;
  text-align:center;
  background: rgba(43,36,43,1);
  background: -moz-linear-gradient(left, rgba(43,36,43,1) 0%, rgba(32,13,68,1) 50%, rgba(39,48,55,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(43,36,43,1)), color-stop(50%, rgba(32,13,68,1)), color-stop(100%, rgba(39,48,55,1)));
  background: -webkit-linear-gradient(left, rgba(43,36,43,1) 0%, rgba(32,13,68,1) 50%, rgba(39,48,55,1) 100%);
  background: -o-linear-gradient(left, rgba(43,36,43,1) 0%, rgba(32,13,68,1) 50%, rgba(39,48,55,1) 100%);
  background: -ms-linear-gradient(left, rgba(43,36,43,1) 0%, rgba(32,13,68,1) 50%, rgba(39,48,55,1) 100%);
  background: linear-gradient(to right, rgba(43,36,43,1) 0%, rgba(32,13,68,1) 50%, rgba(39,48,55,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b242b', endColorstr='#273037', GradientType=1 );  
}
#navbar_tab nav ul{
    margin: 0;
    padding: 0;
}
#navbar_tab nav ul li {
    /* This allow us to arrange list items in a row, without using float */
    list-style-type: none;
}
#navbar_tab nav > ul > li > a {
    display: block;
    min-width:140px;
    font-size:1em;
    font-family:monty-reg,Arial,sans-serif;
    line-height: 2em;
    padding: 0.5em 2em;
    text-decoration: none;
    color:#ffffff;
    border-bottom:2px solid #876eaf;
}
#navbar_tab nav > ul > li:first-child > a {
    border-top:2px solid #876eaf;
}
#navbar_tab.open{
  height:500px;
}

.clr-main{
  color:#241639;
}

.clr-light{
  color:#876eaf;
}


.banner{
  padding-top:4.25em;
  background: rgba(43,36,43,1);
  background: -moz-linear-gradient(left, rgba(43,36,43,1) 0%, rgba(32,13,68,1) 50%, rgba(39,48,55,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(43,36,43,1)), color-stop(50%, rgba(32,13,68,1)), color-stop(100%, rgba(39,48,55,1)));
  background: -webkit-linear-gradient(left, rgba(43,36,43,1) 0%, rgba(32,13,68,1) 50%, rgba(39,48,55,1) 100%);
  background: -o-linear-gradient(left, rgba(43,36,43,1) 0%, rgba(32,13,68,1) 50%, rgba(39,48,55,1) 100%);
  background: -ms-linear-gradient(left, rgba(43,36,43,1) 0%, rgba(32,13,68,1) 50%, rgba(39,48,55,1) 100%);
  background: linear-gradient(to right, rgba(43,36,43,1) 0%, rgba(32,13,68,1) 50%, rgba(39,48,55,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b242b', endColorstr='#273037', GradientType=1 );
}


h1,h2,h3,h4,h5,h6{
  font-family: monty-reg,Arial,sans-serif;
}

p{
  font-size:0.875em;
  line-height:1.5rem;
  font-family:varela,Arial,sans-serif;
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (max-width: 64.063em){
  .home-logo{
    line-height:2.25rem;
  }
}



@media only screen and (max-width: 40.063em){
  .home-logo{
    line-height:2.8rem;
  }

}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}